/*.fragment-entry-link-list__row-section,
.fragment-entry-link-list__col:before,
.fragment-entry-link-list__col:after {
border: none;
box-shadow: none;
}*/

.element-text {
padding: 12px;
}

p {
margin: 0;
}

.site {
background-color: #FFFF;
}