.portlet-trash {
	.asset-ratings {
		clear: both;
		margin: 1em 0;
	}

	.asset-discussion .taglib-discussion {
		width: 100%;
	}

	.aui-search-bar {
		display: block;
		float: right;
	}

	.lfr-header-row {
		.aui-icon-delete, .aui-icon-download, .aui-icon-edit, .aui-icon-lock, .aui-icon-move, .aui-icon-permissions, .aui-icon-undo, .aui-icon-unlock {
			background: url() no-repeat 0 0;
		}

		.aui-icon-delete {
			background-image: url(@theme_image_path@/common/delete.png);
		}

		.aui-icon-download {
			background-image: url(@theme_image_path@/common/download.png);
		}

		.aui-icon-edit {
			background-image: url(@theme_image_path@/common/edit.png);
		}

		.aui-icon-lock {
			background-image: url(@theme_image_path@/common/lock.png);
		}

		.aui-icon-move {
			background-image: url(@theme_image_path@/common/submit.png);
		}

		.aui-icon-permissions {
			background-image: url(@theme_image_path@/common/permissions.png);
		}

		.aui-icon-undo {
			background-image: url(@theme_image_path@/common/undo.png);
		}

		.aui-icon-unlock {
			background-image: url(@theme_image_path@/common/unlock.png);
		}
	}

	.lfr-header-row-content .edit-toolbar {
		margin: 0;
	}

	.lfr-panel-basic .lfr-panel-content {
		padding: 0;
	}

	.trash-root-entry {
		color: #999;
		float: right;
	}
}

.trash-restore-popup {
	.aui-form {
		fieldset {
			margin-bottom: 0;
			padding: 0 15px;
		}

		.new-file-name .aui-field-input {
			width: 100%;
		}
	}

	.portlet-msg-alert {
		margin: 10px 0;
	}
}